.Messenger
{
  
   Input
   {
       width:200px;
       align-items: center;
   }
    .button
    {
        align-items: center;
        width: 100px;
        margin-left:25px;
        margin-top: 10px;
        
    }
}