.message__card
{
    padding: 10px;
    margin:10px;
    width:fit-content;
    align-items: right;
}
.message__user
{
    margin-left: auto;
    color: white;
    text-align: left !important;
}
.message__userCard
{
    background-color: #0b81ff !important;
    margin-top:30px;
    width: 200px;
    float: right;
   
    
}
.message__guestCard
{
    background-color: #e9e9eb !important;
    margin-top:30px;
    width: 200px;

}